/*// PRIMARY STYLES ----------------------- */

body{
  position:relative;
  width:100%; height:100%;
  background-color:$white;
  color:$black;
  overflow-x:hidden;
  -webkit-overflow-scrolling: touch;
}

a{
  text-decoration:none;
  color:red;
  webkit-tap-highlight-color: rgba(0,0,0,0);
}

section{
  width:80%; height:auto;
  max-width:1180px;
  overflow:auto;
  margin:0px auto;
  padding:100px 0px 0px 0px;
}

.top{
  div{
    width:calc(100% - 2px);
    padding:25px 0px;
    text-align:center;
    border:1px solid $black;
    text-transform:uppercase;
  }

  .geo{
    margin:50px auto;
    display:block;
    .btn-locations{
      display:none;
      margin:0px auto;
    }
    p{text-align:center;}
  }
  
}

.info{
  opacity:1;
  #map, #location, .zip{
    width:calc(50% - 40px); height:500px;
    overflow:auto;
    float:left;
    padding:10px 14px;
    margin:5px;
    border:1px solid $black;
  }
  #location{
    opacity:0;
  }
  .zip{
    display:none;
    height:320px;
    float:left;
    padding:200px 0px 0px 0px;
    input{
      width:200px;
      padding:15px 10px;
      margin:0px auto;
      display:block;
    }
    button{
      display:block;
      margin:20px auto;
    }
  }
  form{
    input{
      width:calc(100% - 20px);
      margin:3px 0px;
      padding:15px 10px;
    }
    input[type=submit]{
      width:200px;
      float:right;
    }
  }
}

.geoBlockedLocationList{
  .location{
    width:calc(30% - 20px);
    height:300px;
    margin:10px;
    float:left;
  }
}