// dashboard styles
.dashboard{
  display:none;
  position:relative;
  width:100%; min-height:100vh;
  background-color:$white;
  color:$black;
  overflow-x:hidden;
  -webkit-overflow-scrolling: touch;
  font-family:'Roboto', Helvetica, Arial, sans-serif;

  section{
    width:80%; height:auto;
    max-width:1180px;
    overflow:auto;
    margin:0px auto;
    padding:0px;
  }

 .btn{
    position:relative;
    clear:both;
    width:200px;
    padding:20px 10px 20px 10px;
    margin:10px;
    background-color:$blue;
    color:$white;
    font:400 12px/10px $roboto;
    text-align:center;
    text-transform:uppercase;
    cursor:pointer;
    @include trans(0.2s);
    &:hover{
      background-color:$green;
      @include trans(0.2s);
    }
  }


  //logout btn
  .top-bar{
    position:relative;
    height:70px;
    background-color:$off-white;
    border-bottom:1px solid $light-gray;
    p{
      font: 700 12px/29px $roboto;
      width:50%;
      float:left;
      margin:20px 0px 0px 20px;
    }
    .logout{
      width:100px; height:30px;
      color:$white;
      font: 700 12px/29px $roboto;
      float:right;
      margin:20px 20px 0px 0px;
      background-color:$blue;
      text-align:center;
      text-transform:uppercase;
      cursor:pointer;
      @include trans(0.2s);
      &:hover{
        background-color:$green;
        @include trans(0.2s);
      }
    }
  }
  
  //button menu
  .menu{
    position:absolute;
    left:0; right:0; top:0; bottom:0;
    margin:auto;
    width:800px; height:200px;
    overflow:visible;
    z-index:0;
    transform: translate(0px, -50px);
    transition: transform 0.5s, opacity 0.5s linear;
    transition-delay: 0.6s;
    p{margin: 0 0 20px 22px;}
    span{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-hide{
      opacity:0;
      transform: translate(0px, -50px);
      transition: transform 0.5s, opacity 0.3s linear;
    }
  }

  //add a location
  .add{
    position:absolute;
    top:0; left:0; right:0;
    margin:auto;
    z-index:1;
    opacity:0;
    transform: translate(-100vw, 0vh);
    padding:100px 0px 100px 0px;
    max-width:900px; width:100%;
    transition: opacity 0.2s, transform 3s linear;
    &-show{
      transition: opacity 0.5s linear;
      opacity:1;
      transform: translate(0px, 0vh);
      transition-delay: 0.6s;
    }
  }


  //edit a location
  .edit{
    position:absolute;
    top:0; left:0; right:0;
    margin:auto;
    z-index:1;
    opacity:0;
    transform: translate(-100vw, 0vh);
    padding:100px 0px 100px 0px;
    max-width:900px; width:100%;
    transition: opacity 0.2s, transform 3s linear;
    &-show{
      transition: opacity 0.5s linear;
      opacity:1;
      transform: translate(0px, 0vh);
      transition-delay: 0.6s;
    }
    form{display:none;}
    .list{
      background-color:$off-white;
      padding:35px 0px;
      width: calc(100% - 20px);
      margin:0px auto;
      select{
        width: 60%; height: 50px;
        margin: 0px auto;
        display: block;
        border: 1px solid #dedbdb;
        background-color:$white;
        border-radius: 0px;
        font-size: 12px;
        &:focus{
          outline:none;
          border: 1px solid #dedbdb;
          background-color:$off-white;
        }
      }
    }
  }



  //totals
  .totals{
    position:absolute;
    top:0; left:0; right:0;
    margin:auto;
    z-index:1;
    opacity:0;
    transform: translate(-100vw, 0vh);
    padding:100px 0px 100px 0px;
    max-width:900px; width:100%;
    transition: opacity 0.2s, transform 3s linear;
    &-show{
      transition: opacity 0.5s linear;
      opacity:1;
      transform: translate(0px, 0vh);
      transition-delay: 0.6s;
    }

    .totals-menu{
      background-color:$off-white;
      padding:35px 0px;
      width: calc(100% - 20px);
      margin:0px auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    select{
      width: 339px; height: 50px;
      margin: 0px 10px 20px 10px;
      display: block;
      border: 1px solid #dedbdb;
      background-color:$white;
      border-radius: 0px;
      font-size: 12px;
      float:left;
      &:focus{
        outline:none;
        border: 1px solid #dedbdb;
        background-color:$off-white;
      }
    }

    .by-date{
      display:none;
      .btn{
        width:150px;
        float:left;
        clear: none;
        margin:0px;
      }
      &-show{
        display:block;
      }
    }

    .by-location{
      display:none;
      select{
        width:60%;
        float:none;
        margin:30px auto;
      }
      &-show{
        display:block;
      }
    }

    .forAllTime, 
    .forLocationsSelected, 
    .forTimeSelected{
      width: calc(100% - 40px);
      margin:20px auto 0px;
      padding:15px 10px;
      font-weight:700;
      display:block;
      color:$white;
      background-color:$light-gray;
      span{font-weight:400;}
    }
    .forLocationsSelected, 
    .forTimeSelected{
      margin:0px auto 20px;
    }



    .submission-list{
      width: calc(100% - 20px);
      margin:50px auto 0px;
      padding:15px 10px;
      clear:both;
      p{
        font:300 10px $roboto;
        padding:10px;
        margin:0px;
        span{
          display:inline-block;
        }
        span:first-of-type{
          width:100px;
          overflow:hidden;
        }
        span:nth-of-type(2){
          width:300px;
          overflow:hidden;
        }
        span:nth-of-type(3){
          width:300px;
          overflow:hidden;
        }
      }
      p:nth-of-type(odd){background-color:$off-white;}
    }
  }


  //header
  .app-header{
    display:block;
    width:calc(100% - 20px);
    background-color:$blue;
    padding:20px 0px 20px 0px;
    margin:0px auto;
    overflow:auto;
    p{
      margin: 0 0 0px 11px;
      width:calc(100% - 100px);
      float:left;
      font:700 14px/10px $roboto;
      text-transform:uppercase;
      color:$white;
    }
    .close{
      width:29px; height:10px;
      float:right;
      font-size:20px;
      margin: -10px 0px 0px 0px;
      color:$white;
      @include trans(0.2s);
      cursor:pointer;
      &:hover{
        @include trans(0.2s);
        opacity:0.6;
      }
    }
  }


  //input fields
  form{
    margin:10px 0px 10px 0px;
    overflow:auto;
    input{
      width:calc(100% - 44px);
      float:left;
      margin:10px;
      padding:15px 10px;
      border: 1px solid #dedbdb;
      font-size:14px;
      color:#868686;
      @include trans(0.2s);
      &:focus{
        @include trans(0.2s);
        outline:none;
        border: 1px solid #dedbdb;
        background-color:$off-white;
      }
    }
    label{
      width:100%;
      margin:15px 0px 0px 10px;
      display:block;
      text-align:left;
      font: 700 12px $roboto;
      text-transform:uppercase;
    }
    span{
      position:relative;
      width:50%;
      float:left;
      display:block;
    }
    .full{width:100%;}
    .small{width:25%;}
  }

}