// @font-face {
//     font-family: 'kayak_sansbold';
//     src: url('../src/fonts/kayak_sans_bold-webfont.woff2') format('woff2'),
//          url('../src/fonts/kayak_sans_bold-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }