//login page

.login{

  span{
    width:100vw; height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  //input fields
  form{
    margin:10px 0px 10px 0px;
    overflow:auto;
    input{
      width:calc(100% - 44px);
      float:left;
      margin:10px;
      padding:15px 10px;
      border: 1px solid #dedbdb;
      font-size:14px;
      color:#868686;
      @include trans(0.2s);
      &:focus{
        @include trans(0.2s);
        outline:none;
        border: 1px solid #dedbdb;
        background-color:$off-white;
      }
    }
    .errors{
      margin:10px 0px 10px 13px;
      color:red;
      font-size:10px;
    }
  }

  .btn{
    position:relative;
    clear:both;
    width:200px;
    padding:20px 10px 20px 10px;
    margin:10px;
    background-color:$blue;
    color:$white;
    font:400 12px/10px $roboto;
    text-align:center;
    text-transform:uppercase;
    cursor:pointer;
    @include trans(0.2s);
    &:hover{
      background-color:$green;
      @include trans(0.2s);
    }
  }


}